body {
  font-family: sans-serif;
  font-size: 1.2rem;
}

.wrapper {
  max-inline-size: 1000px;
  margin-inline: auto;
  box-sizing: border-box;
  padding-inline: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: none;
}

nav ul a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: 200ms;

  &:hover {
    background-color: hsl(222, 8%, 31%);
    color: #ffffff;
  }
}

.getting-started-link{
  background-color: hsl(222, 8%, 51%);
  color: #ffffff;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: clamp(3rem, 1.2rem + 8vw, 6.2rem);
  text-align: center;
  color: #484c55;
  margin: 3rem;

  span {
    color: #087997;
  }
}

h2 {
  font-size: clamp(2rem, 1.4375rem + 2.5vw, 3rem);
  color: #087997;
}

section {
  margin-block: 2rem;
}

section p {
  line-height: 1.5;
}

.purple-bg {
  background-image: url("../images/simple-steps.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-block: 3rem;
  padding-inline: 1rem;
  border: 5px solid #6780d2;
  color: #ffffff;
}

ol li {
  line-height: 1.5;
}


.bouldering-img {
  display: block;
  inline-size: 100%;
}

footer {
  margin-block: 3rem;
  background-color: #087997;
  border: 5px solid #0b4a59;
  color: #ffffff;
  font-size: initial;
  text-align: center;
  padding-block: 1rem;
}


@media (width > 700px) {
  .two-column-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.5rem;
  }

  nav ul {
    display: flex;
    gap: 0.2rem;
  }
}